@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Elite&display=swap');

* {
    background-color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;

}

ul {
    list-style-type: none;
}

li a {
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: #c3c3c34e;
}

.active {
    background-color: #c3c3c3;
}

.title-container {
    border-top: 0.5px solid #cbcbcb;
    border-bottom: 0.5px solid #cbcbcb;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.subtitle {
    display: flex;
    justify-content: center;
}

.subtitle h3 {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.container {
    display: flex;
    border-radius: 8px;
    margin: 40px 0 40px 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dailyQuote-container {
    display: flex;
    border-radius: 8px;
    margin: 20px 0 0 0;
    flex-direction: row;
    align-items: center;
}

.container,
.container * {
    font-family: 'Special Elite', cursive;
    padding: 1rem;
}

.dailyQuote-container,
.dailyQuote-container * {
    font-family: 'Special Elite', cursive;
    padding: 1rem;
}

#quote {
    margin: 10px 0 20px;
    text-align: left;
    font-style: italic;
    position: relative;
    font-size: 2rem;
    max-width: 800px;
    line-height: 1.4;
    padding: 0;
}

#quote::before,
#quote::after {
    position: absolute;
    font-size: 8rem;
    width: 6rem;
    height: 6rem;
}

#quote::before {
    content: '"';
    left: -6rem;
    top: -3rem;
    border-radius: 8px;
}

#quote::after {
    content: '"';
    right: -6rem;
    bottom: -1rem;
    border-radius: 8px;
}

#author {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    text-align: right;
}

#author::before {
    content: "— ";
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 0 100px 0 0;
}

.author-image {
    border-radius: 12px;
    padding: 0;
    margin: 0;
    width: 300px;
    height: 300px;
}

.quote-btn {
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #545454;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 12px;
    box-shadow: 0 10px #bfbfbf;
    margin: 0 0 50px 0;
}

.quote-btn:active {
    box-shadow: 0 6px #909090;
    transform: translateY(4px);
}

.social-media-sharing {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.fa-brands {
    margin: 10px 0 0 0;
    font-size: 60px;
    transition: transform ease-in-out 0.2s;
    transform-origin: center center;
}

.fa-brands:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#twitter-share-btn {
    color: #1DA1F2;
}

#linkedin-share-btn {
    color: #0A66C2;
}

#facebook-share-btn {
    color: #1877F2;
}

#reddit-share-btn {
    color: #FF4500;
}

.author-item {
    display: flex;
    align-items: flex-start;
    margin: 0 0 20px 0;
}

.author-image-container-list {
    margin: 0 20px 0 0;
}

.author-image-list {
    width: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.author-content {
    flex-grow: 1;
}

.author-name {
    font-size: 26px;
    margin: 0 0 10px 0;
}

.author-bio {
    font-size: 18px;
    line-height: 1.25;
    margin: 0;
}

.pagination-container {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0 0 20px 0
}

.pagination-btn {
    font-size: 22px;
    height: fit-content;
    width: fit-content;
    border-radius: 6px;
    box-shadow: 0 6px #bfbfbf;
    padding: 6px;
}

.pagination-btn:hover {
    cursor: pointer;
}

.pagination-btn:active {
    box-shadow: 0 3px #909090;
    transform: translateY(4px);
}

.current-page,
.total-pages {
    font-size: 18px;
    font-weight: 600;
}


.lds-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #515151;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #515151 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 3000px;
    margin: 60px 0 0 0;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.form-input {
    width: 100%;
    padding: 12px;
    border: solid 2px #787878;
    border-radius: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-size: 20px;
}

.form-input-name {
    margin-right: 6px;
}

.form-input-message {
    height: 250px;
    width: 800px;
    resize: none;
}

.submit-btn {
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #545454;
    border-radius: 6px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 12px;
    box-shadow: 0 10px #bfbfbf;
    margin: 0;
}

.form-button:active {
    box-shadow: 0 6px #909090;
    transform: translateY(4px);
}

.thank-you-message {
    margin: 100px 0 0 0;
    font-size: 30px;
}